@{
    ViewBag.Title = "Index2";
}
@section require_js_module{
    <script src="@Url.Content("~/js-built/require.js")" data-main="@Url.Content("~/js-built/app/home.index.js")" ></script>
}
<p>the js from this page is from js-built, track the network from browser and to see the difference </p>
<p>datatime picker below is loaded on document ready</p>
<div id="text1">
</div>

<p>code in home.index.js:</p>
<pre>

require(['../config'], function () {
    require(['home.index2']);
})
, define("home.index2", ['jquery', 'bootstrap-datepicker'], function ($) {
    $(function () {
        $('#text1').html('&lt;input type="text" class="datepicker" />');
        $('input.datepicker').datepicker({
            format: 'yyyy/mm/dd'
        });
    });
})  
</pre>